@import "../../node_modules/@awesome.me/webawesome/dist/styles/webawesome.css";

:root {
  --spa-border: var(--wa-color-surface-border);
  --spa-surface: var(--wa-color-surface-default);
  --spa-surface-2: var(--wa-color-surface-lowered);
  --spa-muted: var(--wa-color-text-quiet);
}
